.services {
  background-color: $lightGray;

  &__container {
    margin-top: 8rem;
    text-align: left;
  }

  &__box {
    position: relative;

    @include desktop {
      padding: 0 2rem;
    }

    @include smallPhone {
      padding: 0 1rem;
    }

    &:nth-child(2) {
      margin: 8rem 0;
    }
  }

  &__service-title {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba($color: $mainBlue, $alpha: 0.6);
    position: absolute;
    top: -4rem;
    left: -3rem;

    @include desktop {
      position: static;
      font-size: 5.8rem;
      color: $mainBlue;
    }

    @include largePhone {
      font-size: 2.9rem;
      margin-bottom: 1.5rem;
    }

    &__bullet {
      color: rgba($color: $mainRed, $alpha: 0.6);

      @include desktop {
        display: none;
      }
    }
  }

  &__service-description {
    width: 80%;
    margin: 0 auto;
    font-size: 2.5rem;

    @include desktop {
      width: 100%;
    }

    @include largePhone {
      font-size: 2rem;
    }
  }
}
