.lead-para {
  margin: 0 auto;
  letter-spacing: 1px;
  color: $medGray;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2;

  @include largePhone {
    font-size: 1.8rem;
  }

  @include smallPhone {
    font-size: 1.6rem;
  }
}
